body {
  background-color: #DBDFFD;
}

hr {
  background-color: #DBDFFD;
  border-style: none;
  border-top: 4px dotted grey;
  height: 3px;
  width: 30%;
}
img {
  height: 200px;
}

h1 {
  color: #66BFBF;
}
h2 {
  color: #66BFBF;
}
h3 {
  color: #66BFBF;
}
